{% extends "layout.njk" %}

{% block head %}
<title>Sobre - {{about.name}}</title>
{% endblock %}

{% block content %}

<div id="wraper">
    <img  src= "{{ about.avatar_url }}" alt= "imagem de {{ about.name }}">
    <h1>{{about.name}}</h1>
    <h2>{{about.role}}</h2>
    <p>{{about.description}}</p>
</div>

<div class="links links-footer">
    {% for link in about.link %}
        <a href="{{ link.url }}" target="_blank">{{link.name}}</a>
    {% endfor%}
</div>

{% endblock %}

 
  